---
import ThemeSwitcher from '@/components/shared/ThemeSwitcher.astro';
import { siteConfig } from '@/config';

const navLinks = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/about' },
  { name: 'Blog', href: '/blog' },
  { name: 'Projects', href: '/projects' },
  { name: 'Contact', href: '/contact' },
];
---

<header class='sticky top-0 z-50 py-6'>
  <nav class='flex items-center justify-between container-fluid'>
    <div class='font-bold'>
      <a
        href='/'
        class='text-foreground flex items-center justify-center hover:text-primary transition-colors'
      >
        <img
          src={siteConfig.avatar}
          alt={siteConfig.name}
          class='size-14 border inline-block rounded-full'
        />
      </a>
    </div>
    <div
      class='flex items-center backdrop-blur-2xl px-6 py-2 rounded-full gap-6 bg-secondary/20'
    >
      <ul class='flex space-x-6'>
        {
          navLinks.map((link) => (
            <li>
              <a
                href={link.href}
                class='text-foreground hover:text-primary transition-colors'
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
      <div class='flex items-center gap-2 border-l border-border pl-4'>
        <!-- <LanguageSwitcher /> -->
        <ThemeSwitcher />
      </div>
    </div>
  </nav>
</header>
