---
import Layout from '../layouts/Layout.astro';
import HeroText from '../components/hero/HeroText.astro';
import HeroImage from '../components/hero/HeroImage.astro';
---

<Layout>
  <section class='min-h-screen flex items-center justify-center px-4 py-20'>
    <div class='container-fluid'>
      <div class='flex flex-row gap-8 items-center'>
        <HeroText />
        <HeroImage />
      </div>
    </div>
  </section>
</Layout>
