---
import About from '../components/About.astro';
import Blogs from '../components/Blogs.astro';
import HeroImage from '../components/hero/HeroImage.astro';
import HeroText from '../components/hero/HeroText.astro';
import Projects from '../components/Projects.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section
    class='min-h-full lg:min-h-[80svh] flex items-center justify-center py-16 md:py-20'
  >
    <div class='container-fluid'>
      <div class='flex flex-col md:flex-row gap-x-8 gap-y-16 items-center'>
        <HeroText />
        <HeroImage />
      </div>
    </div>
  </section>

  <About />
  <WorkExperience />
  <Projects />
  <Blogs />
</Layout>
